@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    -webkit-tap-highlight-color: transparent;
}

.undraggable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;    
}

.unselectable {
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
  
.hidden-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.shop-gradient {
    background: rgba(104, 68, 32, 1);
    background: linear-gradient(
                    180deg,
                    rgba(139, 90, 43, 1) 0%,
                    rgba(104, 68, 32, 1) 10%,
                    rgba(104, 68, 32, 1) 90%,
                    rgba(139, 90, 43, 1) 100%
                )
}